<section data-js="card" class="card">
  <article class="card__box">
    <h2 class="card__title">Question:</h2>
    <button data-js="bookmark" class="card__bookmark">
      <svg
        data-js="colorBookmark"
        class="card__icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="32"
        height="32"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z" />
      </svg>
    </button>
    <p class="card__text card__text--blue">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et libero
      doloremque, laboriosam velit deleniti repudiandae.
    </p>
    <button data-js="answerButton" class="card__answer"></button>
    <p data-js="answerText" class="card__text card__text--answer hide">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et libero
      doloremque, laboriosam velit deleniti repudiandae.
    </p>
    <ul role="list" class="tag__list tag__list--card">
      <li class="tag__item">Tag1</li>
      <li class="tag__item">Tag2</li>
      <li class="tag__item">Tag3</li>
      <li class="tag__item">Tag4</li>
    </ul>
  </article>
</section>
