<div class="container">
  <form action="" class="create-form">
    <div class="create-form__wrap">
      <label class="create-form__label" for="add-question"
        >Add your question</label
      >
      <textarea
        class="create-form__textarea"
        name="add-question"
        id="add-question"
        cols="30"
        rows="10"
        placeholder="add your fancy question here"
      ></textarea>
    </div>
    <div class="create-form__wrap">
      <label class="create-form__label" for="add-answer"
        >Add your question</label
      >
      <textarea
        class="create-form__textarea"
        name="add-answer"
        id="add-answer"
        cols="30"
        rows="10"
        placeholder="add your fancy answer here"
      ></textarea>
    </div>
    <div class="create-form__wrap">
      <label class="create-form__label" for="add-tags">Tags</label>
      <input
        class="create-form__input"
        type="text"
        id="add-tags"
        placeholder="Add a comma after each tag"
      />
    </div>
    <input type="submit" value="SUBMIT" />
  </form>
</div>