.footer-nav {
  background-color: var(--color-bg-dark);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  z-index: 1;
}
.footer-nav__list {
  display: flex;
}
.footer-nav__item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--color-fc-yellow);
}
.footer-nav__item:not(:last-of-type) {
  border-left: 1px solid var(--color-fc-yellow);
}
.footer-nav__item--active {
  background-color: #fff;
}
.footer-nav__link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.footer-nav__icon {
  min-width: 32px;
  min-height: 32px;
  stroke: var(--color-fc-yellow);
}



