<nav class="nav">
  <ul class="nav__list display-contents">
    <li class="nav__item display-contents">
      <a href="#" class="nav__link"
        ><img
          src="../../images/icon-home.svg"
          alt=""
          class="nav__icon"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="nav__item display-contents">
      <a href="#" class="nav__link"
        ><img
          src="../../images/icon-bookmark.svg"
          alt=""
          class="nav__icon"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="nav__item display-contents">
      <a href="#" class="nav__link"
        ><img
          src="../../images/icon-create.svg"
          alt=""
          class="nav__icon"
          width="32"
          height="32"
      /></a>
    </li>
    <li class="nav__item display-contents">
      <a href="#" class="nav__link"
        ><img
          src="../../images/icon-profile.svg"
          alt=""
          class="nav__icon"
          width="32"
          height="32"
      /></a>
    </li>
  </ul>
</nav>
