.container {
  max-height: 48px;
  max-width: 375px;
}
.title {
  background-color: var(--color-bg-dark);
  color: var(--color-fc-yellow);
  text-align: center;
  font-size: 27px;
  padding: 0.5rem;
  width: 100%;
}
