.profile {
  padding: 3rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-bg-dark);
}
.profile__wrapper--image {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile__figure {
  display: flex;
}
.profile__image {
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--color-fc-yellow);
}
.profile__name {
  font-size: 1.5rem;
  font-weight: bold;
}
.profile__about-me {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  color: var(--color-blue-text);
  border-radius: 5px;
}
.tag__list--profile {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tag__item--profile {
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-fc-yellow);
}
.profile__logout {
  display: grid;
  place-items: center;
}
.profile__button {
  font-size: 112.5%;
  background-color: var(--color-bg-dark);
  color: var(--color-fc-yellow);
  padding: 1rem 1.5rem;
  align-self: center;
  cursor: pointer;
  border-radius: 15px;
  min-width: 150px;
}

/* Login-Section */
.profile--login {
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .profile__form {
    align-items: center;
    width: 400px;
  }
}
.profile__label--login {
  /* background-color: var(--color-bg-dark); */
  color: var(--color-fc-yellow);
  flex-grow: 1;
  padding: 1rem 1.5rem;
  text-align: center;
}
@media (min-width: 500px) {
  .profile__label--login {
    width: 100%;
  }
}
.profile__input {
  padding: 1rem;
  margin-top: 0;
  border: none;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-bg-dark);
  background-color: transparent;
}
.profile__input::placeholder {
  color: var(--color-bg-dark);
}
@media (min-width: 500px) {
  .profile__input {
    width: 100%;
  }
}
.profile__error-message {
  color: red;
}
