<section class="profile">
  <div class="profile__wrapper--image mb-8">
    <figure class="profile__figure">
      <img
        class="profile__image"
        src="https://source.unsplash.com/random"
        alt=""
        width="150"
        height="150"
      />
    </figure>
    <p class="profile__name">Karl-Heinz Huber</p>
  </div>
  <p class="profile__about-me mb-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eos
    saepe placeat dignissimos pariatur sapiente illo molestias sit debitis
    delectus?
  </p>
  <h3 class="profile__skills mb-2">Skills</h3>
  <ul class="tag__list tag__list--profile mb-8">
    <li class="tag__item tag__item--profile">Taghdh1</li>
    <li class="tag__item tag__item--profile">Tagds</li>
    <li class="tag__item tag__item--profile">lorempisjhs</li>
    <li class="tag__item tag__item--profile">lod</li>
    <li class="tag__item tag__item--profile">lorem</li>
  </ul>
  <form action="" class="profile__logout">
    <label class="profile__label" for="logout"
      ><span class="sr-only">You can logout of your profile here</span></label
    >
    <input
      class="profile__input"
      type="submit"
      name="logout"
      id="logout"
      value="Logout"
    />
  </form>
</section>
