:root {
  --color-green: #13aa52;
  --color-red: #e62143;
  --color-blue: #2493df;
  --color-blue-text: #6b7f99;
  --color-background-grey: #f2f5f7;
  --color-bg-dark: #2d3846;
  --color-fc-yellow: #fbb461;
}
