.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.h-48 {
  height: 48px;
}
.h-100vh {
  height: 100vh;
}

.bg-dark {
  background-color: var(--color-bg-dark);
}
.bg-coral {
  background-color: coral;
}

.bg-hotpink {
  background-color: hotpink;
}
/* font color */
.fc-yellow {
  color: var(--color-fc-yellow);
}

.hide {
  display: none !important;
}
